<template>
	<div class="bg-primary-900">
		<div class="container mx-auto">
			<div class="flex text-primary-200 text-sm py-2 justify-between">
				<div class="flex items-center">
					Encontro Milionário
				</div>
				<div><img class="w-6 mx-auto" src="~/assets/imgs/logo-60.png" alt=""></div>
				<div>&copy;2021 - Todos os direitos reservados</div>
			</div>
		</div>
	</div>
</template>
<script>
export default {
	data(){
		return {

		}
	}
}
</script>