<template>
	<div class="fixed z-20 bottom-0 right-0 h-10 flex items-end pr-2">
		<template v-for="(chat, i) in chats">
			<ChatWindow :key="i" :chat="chat" />
		</template>
	</div>
</template>
<script>
import { mapGetters } from 'vuex'

export default {
	data(){
		return {
			
		}
	},
	computed:{
		...mapGetters({
			chats: 'chats'
		})
	},
	mounted(){
	},
}
</script>