<template>
	<div v-if="chat && chat.uuid !== undefined" class="flex flex-col chat-window mx-1 bg-gray-200 rounded-tl-xl rounded-tr-xl"
	:class="{
		minimized: !chat.state
	}"
	>
		<div class="rounded-tl-xl rounded-tr-xl bg-primary-800 flex items-center">
			<div class="flex-grow py-2 px-2 text-white font-bold flex items-center">
				<img class="w-9 rounded-lg mr-2" src="~/assets/imgs/users/Ami Hafalik.webp" alt="">
				<div>Ami Hafalik</div>
			</div>
			<div class="flex-shrink text-right pr-2 flex">
				<button class="text-white text-2xl mdi mdi-chevron-down p-2 rounded-lg h-8 w-8 flex-shrink flex items-center justify-center mr-2 hover:bg-primary-700"
				:class="{
					'mdi-chevron-down':chat.state,
					'mdi-chevron-up':!chat.state,
				}"
				@click="toggleChatWindow(chat.uuid, !chat.state)"
				></button>
				<button class="text-white text-2xl mdi mdi-close p-2 rounded-lg h-8 w-8 flex-shrink flex items-center justify-center hover:bg-primary-700"
				@click="closeChatWindow(chat.uuid)"
				></button>
			</div>
		</div>
		<template v-if="chat.state" >
			<div class="flex-grow flex flex-col justify-end border-l border-r border-gray-300 p-2">
				<div class="justify-center flex mb-2">
					<div class="bg-secondary-500 px-3 py-1 rounded-lg flex-shrink">Hoje</div>
				</div>
				<div class="chat-message-wrapper flex mb-2">
					<div class="chat-message bg-gray-300 px-2 py-1 rounded-tl-xl rounded-tr-xl rounded-br-xl">Mensagem de teste</div>
				</div>
				<div class="chat-message-wrapper flex mb-2">
					<div class="chat-message bg-gray-300 px-2 py-1 rounded-tl-xl rounded-tr-xl rounded-br-xl">Lorem ipsum dolor sit amet consectetur adipisicing elit</div>
				</div>
				<div class="chat-message-wrapper flex justify-end me mb-2">
					<div class="chat-message inline-block bg-white border border-gray-300 px-2 py-1 rounded-tl-xl rounded-tr-xl rounded-bl-xl text-right">Mensagem de teste</div>
				</div>
				<div class="chat-message-wrapper flex justify-end me mb-2">
					<div class="chat-message bg-white border border-gray-300 px-2 py-1 rounded-tl-xl rounded-tr-xl rounded-bl-xl text-right">Lorem ipsum dolor sit amet consectetur adipisicing elit</div>
				</div>
			</div>
			<div class="flex-shrink px-2 border-l border-r border-gray-300">
				<textarea rows="1" :id="'chat-' + chat.uuid" class="chat-textarea bg-white rounded-xl mb-2 px-2 focus:outline-none py-2"></textarea>
			</div>
		</template>
	</div>
</template>
<script>
import Autogrow from 'textarea-autogrow'

export default {
	props:{
		chat: {
			type: Object,
			default: null
		}
	},
	data(){
		return {
			
		}
	},
	watch:{
		chat(chat){
			const id = 'chat-' + this.chat.uuid
			const textarea = document.getElementById(id);

			console.log(id)

			const growingTextarea = new Autogrow(textarea, 5);
			console.log(growingTextarea)
		}
	},
	mounted(){

	},
	methods:{
		toggleChatWindow(uuid ,open){
			this.$store.commit('TOGGLE_CHAT_WINDOW', {uuid, open})
		},
		closeChatWindow(uuid){
			this.$store.commit('CLOSE_CHAT_WINDOW', uuid)
		}
	}
}
</script>
<style>
.chat-window{
	height: 28rem;
	width: 22rem;
}

.chat-window.minimized{
	height: auto;
}

.chat-message-wrapper .chat-message{
	max-width: 80%;
}

.chat-textarea{
	resize: none;
  box-sizing: content-box;
  width: calc(100% - 1rem);
}
</style>