<template>
	<div class="fixed w-full bg-primary-700 h-16 z-20">
		<div class="container mx-auto text-white h-full">
			<div class="flex h-full items-center h-flex">
				<div class="flex-1">
					<router-link to="/" class="inline-block">
						<img class="h-12 inline" src="~/assets/imgs/logo-60.png" alt="">
					</router-link>
				</div>
				<div>
					<div class="h-10 relative flex items-center">
						<input autofocus placeholder="Pesquisar" class="rounded-xl text-primary-50 px-4 h-10 w-96 bg-primary-600 focus:outline-none" type="text">
						<span class="absolute mdi mdi-magnify right-3 top-2 text-xl text-primary-200"></span>
					</div>
				</div>
				<div class="flex-1 flex justify-end items-center">
					<router-link to="/me" class="mr-2 flex items-center rounded-xl bg-primary-600 cursor-pointer hover:bg-primary-500">
						<div class="px-3 text-base text-secondary font-bold">Sir Richard Smith</div>
						<img class="w-10 rounded-xl" src="~/assets/imgs/users/me.webp" alt="">
					</router-link>
					<div class="relative">
						<button class="relative text-white rounded-xl w-10 h-10 flex justify-center items-center mx-2 bg-primary-600"
						@click="showNotifications = !showNotifications, showChats= false">
							<i class="text-2xl text-white mdi mdi-bell-outline"></i>
							<span class="absolute -top-1 -right-2 bg-secondary text-black text-xs font-bold flex items-center justify-center rounded-xl w-5 h-5">12</span>
						</button>
						<div v-if="showNotifications" class="notifications z-10 flex flex-col pb-2 fixed rounded-lg min-h-32 bg-primary-700 z-10 transition transform duration-300 translate-y-5">
							<div class="flex items-center flex-shrink flex px-3 py-2 border-b border-gray-800">
								<div class="flex-grow text-left text-xl">Notificações</div>
								<div class="flex justify-right items-center">
									<button class="flex items-center justify-center w-9 h-9 rounded-xl p-2 hover:bg-primary-600">
										<i class="mdi mdi-tune text-xl"></i>
									</button>
								</div>
							</div>
							<div class="flex flex-col flex-grow overflow-auto">
								<div v-for="i in 11" :key="i" class="flex items-center px-4 py-3 bg-primary-700 cursor-pointer hover:bg-primary-600">
									<div>
										<img class="w-16 rounded-xl" src="~/assets/imgs/users/Ami Hafalik.webp" alt="Ami Hafalik">
									</div>
									<div class="text-left pl-3">
										<div class="text-sm mb-1">
											<span class="font-bold">Ami Hafalik</span> <span>visitou seu perfil</span>
										</div>
										<div class="text-sm text-gray-400">Há {{ i * 2 }} minutos</div>
									</div>
								</div>
								<div class="p-1 mx-1 mt-2 text-sm text-center cursor-pointer hover:underline">
									Carregar mais...
								</div>
							</div>
						</div>
					</div>
					<div class="relative">
						<button class="relative text-white rounded-xl w-10 h-10 flex justify-center items-center mx-2 bg-primary-600"
						@click="showChats = !showChats, showNotifications= false">
							<i class="text-2xl text-white mdi mdi-chat-outline"></i>
							<span class="absolute -top-1 -right-2 bg-secondary text-black text-xs font-bold flex items-center justify-center rounded-xl w-5 h-5">8</span>
						</button>
						<div v-if="showChats" class="chats z-10 flex flex-col pb-2 fixed rounded-lg min-h-32 bg-primary-700 z-10 transition transform duration-300 translate-y-5">
							<div class="flex items-center flex-shrink flex px-3 py-2 border-b border-gray-800">
								<div class="flex-grow text-left text-xl">Mensagens</div>
								<div class="flex justify-right items-center">
									<button class="flex items-center justify-center w-9 h-9 rounded-xl p-2 hover:bg-primary-600">
										<i class="mdi mdi-tune text-xl"></i>
									</button>
								</div>
							</div>
							<div class="flex flex-col flex-grow overflow-auto">
								<div v-for="i in 11" :key="i" class="flex items-center px-4 py-3 bg-primary-700 cursor-pointer hover:bg-primary-600">
									<div>
										<img class="w-16 rounded-xl" src="~/assets/imgs/users/Ami Hafalik.webp" alt="Ami Hafalik">
									</div>
									<div class="text-left pl-3">
										<div class="font-bold text-sm mb-1">
											Ami Hafalik
										</div>
										<div class="text-sm text-gray-400 leading-4">
											<span v-if="i%4 === 0" class="font-bold text-gray-300">Você: </span>Lorem ipsum dolor sit amet consectetur adipisicing, elit.
										</div>
										<div class="text-sm text-gray-400">Há {{ i + 2 }} minutos</div>
									</div>
								</div>
								<div class="p-1 mx-1 mt-2 text-sm text-center cursor-pointer hover:underline">
									Carregar mais...
								</div>
							</div>
							<router-link to="/chat" class="flex justify-center p-1 mx-1 mt-2 text-sm rounded-xl bg-primary-700 text-center cursor-pointer hover:bg-primary-600">
								Abrir página de chat
							</router-link>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
export default {
	data(){
		return {
			showSearchField: false,
			showChats: false,
			showNotifications: false,
		}
	}
}
</script>
<style scoped>
.notifications,
.chats{
	width: 480px;
	height:  calc(100% - 84px);
	right: 10px;
}
</style>