<template>
	<div class="usercard p-1 w-1/4 flex-grow-0 flex-shrink-0">
    <div class="p-1 border rounded-xl relative">
      <router-link :to="'/user/user_' + index" >
		    <div class="rounded-xl overflow-hidden">
		    	<img class="usercard_image rounded-xl" src="~/assets/imgs/users/Ami Hafalik.webp" alt="">
		    </div>
		    <div class="py-1 absolute bottom-0 px-1 left-0 right-0 text-white">
		      <div class="usercard__user-info bg-gradient-to-t from-black rounded-xl p-2 overflow-hidden">
		        <div class="font-bold" style="text-shadow: 1px 1px 0 #000;">
		        	<span v-if="index%3===0 || index === 1" class="inline-block w-3 h-3 rounded-full bg-green-400 border border-green-300"></span>
		        	Ami Hafalik, 28
		        </div>
		        <div class="text-sm flex items-center">
		        	<div class="whitespace-wrap text-xs">Jijoca de Jericoacoara</div>
		        </div>
		      </div>
		    </div>
		  </router-link>

      <button class="absolute top-3 left-3 bg-primary-600 opacity-70 rounded-xl w-7 h-7 text-lg text-white mdi mdi-chat-outline hover:opacity-100" @click="addChat(index)"></button>
      <div class="absolute top-3 right-2 w-7 h-7 mr-2 rounded-xl flex items-center justify-center"
    		:class="{
    			'bg-black': index%3 === 0,
    			'bg-secondary-700': index%3 !== 0 && index%6 !== 0,
    			'bg-gray-400': index%6 === 0,
    		}"
    	>
    		<img class="w-4" src="~/assets/imgs/logo-white.png" alt="">
    	</div>
    </div>
  </div>
</template>
<script>
export default {
	props: {
		index: {
			type: Number,
			default: null,
		}
	},
	methods:{
		addChat(uuid){
			this.$store.commit('ADD_CHAT', uuid)
		}
	}
}
</script>
<style>

.usercard .usercard_image{
	transition: all 0.3s ease;
}

.usercard:hover .usercard_image{
	transform: scale(1.15);
	transition: all 0.3s ease;
}
</style>