/* Firefox */

:root {
  --color-primary: #111828;
  --color-secondary: #f6ba3a;
}

 * {
   scrollbar-width: auto;
   scrollbar-color: var(--color-secondary);
}
/* Chrome, Edge, and Safari */
 *::-webkit-scrollbar {
   width: 7px;
}
 *::-webkit-scrollbar-track {
   background: var(--color-primary);
}
 *::-webkit-scrollbar-thumb {
   background-color: var(--color-secondary);
   border-radius: 5px;
   border: 1px solid #121212;
}
