<template>
	<div class="flex h-full flex-col bg-gray-100">
		<TopBar class="flex-shrink" />
		<div class="flex-grow pt-16">
			<Nuxt />
		</div>
		<BottomBar class="flex-shrink" />
		<ChatBar />
	</div>
</template>