<template>
  <div class="chat relative flex flex-col h-full">
    <div class="absolute z-1 bg-primary-700 h-56 w-full"></div>
    <div class="z-10 my-8 container mx-auto flex flex-grow h-full bg-gray-100 rounded-lg overflow-hidden border">
      <div class="chats border-r border-gray-300 flex flex-col h-full overflow-hidden bg-gray-200">
        <div class="p-4 flex-shrink">
          <div class="relative">
            <input type="text" class="w-full rounded-xl h-12 px-5 focus:outline-none focus:shadow-xl transition duration-300" placeholder="Pesquisar nos chats">
            <span class="mdi mdi-magnify absolute right-4 top-3"></span>
          </div>
        </div>
        <div class="flex-grow relative border-t border-gray-300">
          <div class="absolute left-0 top-0 w-full h-full overflow-auto">
            <div v-for="i in 11" :key="i" class="flex items-center px-4 py-3 cursor-pointer hover:bg-gray-100">
              <div class="relative">
                <img class="w-16 rounded-xl" src="~/assets/imgs/users/Ami Hafalik.webp" alt="Ami Hafalik">
                <div v-if="i === 1 || i%3 === 0" class="absolute w-3 h-3 border border-white bg-green-500 rounded-xl top-1 right-1"></div>
              </div>
              <div class="text-left pl-3">
                <div class="font-bold text-sm mb-1">
                  Ami Hafalik
                </div>
                <div class="text-sm text-gray-600 leading-4">
                  <span v-if="i%4 === 0" class="font-bold text-gray-800">Você: </span>Lorem ipsum dolor sit amet consectetur adipisicing, elit.
                </div>
                <div class="text-sm text-gray-600"><span class="font-bold">São Bernardo do Campo - SP</span> - Há {{ i + 2 }} minutos</div>
              </div>
            </div>
            <div class="text-center text-sm py-4 border-t border-gray-300">
              Carregando mais chats...
              <div class="flex justify-center items-center mt-3">
                <div class="w-2 h-2 bg-secondary-500 border border-secondary-800 rounded-xl mx-1 animate-bounce"></div>
                <div class="w-2 h-2 bg-secondary-500 border border-secondary-800 rounded-xl mx-1 animate-bounce delay-150"></div>
                <div class="w-2 h-2 bg-secondary-500 border border-secondary-800 rounded-xl mx-1 animate-bounce delay-300"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="bg-gray-100 flex flex-col flex-grow">
        <div class="flex items-center p-3 bg-gray-200 border-b border-gray-300">
          <img class="w-14 rounded-xl" src="~/assets/imgs/users/Ami Hafalik.webp" alt="Ami Hafalik">
          <div class="pl-4">
            <div class="font-bold text-sm mb-1">
              Ami Hafalik
            </div>
            <div class="text-sm text-gray-600"><span class="font-bold">São Bernardo do Campo - SP</span></div>
          </div>
          <div class="flex flex-grow justify-end">
            <button class="rounded-xl w-10 h-10 hover:bg-gray-100">
              <span class="text-2xl mdi mdi-dots-vertical text-gray-500"></span>
            </button>
          </div>
        </div>
        <div class="flex flex-grow relative overflow-hidden">
          <div class="messages-container text-base absolute top-0 left-0 w-full h-full overflow-auto p-4">
            <template v-for="i in 3">
              <div :key="i" class="flex flex-col">
                <div class="flex mb-2">
                  <div class="rounded-tl-xl rounded-tr-xl rounded-br-xl flex-shrink bg-gray-200 p-2 border" style="max-width:70%;">Lorem, ipsum dolor sit.</div>
                </div>
                <div class="flex mb-2">
                  <div class="rounded-tl-xl rounded-tr-xl rounded-br-xl flex-shrink bg-gray-200 p-2 border" style="max-width:70%;">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facilis, eos.</div>
                </div>
              </div>
              <div :key="i" class="flex flex-col">
                <div class="flex mb-2 justify-end">
                  <div class="rounded-tl-xl rounded-tr-xl rounded-bl-xl flex-shrink bg-white p-2 border" style="max-width:70%;">Lorem, ipsum.</div>
                </div>
                <div class="flex mb-2 justify-end">
                  <div class="rounded-tl-xl rounded-tr-xl rounded-bl-xl flex-shrink bg-white p-2 border" style="max-width:70%;">Lorem ipsum, dolor sit amet, consectetur adipisicing.</div>
                </div>
              </div>
              <div :key="i" class="flex flex-col">
                <div class="flex mb-2">
                  <div class="rounded-tl-xl rounded-tr-xl rounded-br-xl flex-shrink bg-gray-200 p-2 border" style="max-width:70%;">Lorem, ipsum dolor sit amet, consectetur adipisicing elit. Omnis quae non dolorem maxime nemo saepe.</div>
                </div>
                <div class="flex mb-2">
                  <div class="rounded-tl-xl rounded-tr-xl rounded-br-xl flex-shrink bg-gray-200 p-2 border" style="max-width:70%;">Lorem, ipsum dolor sit amet.</div>
                </div>
                <div class="flex mb-2">
                  <div class="rounded-tl-xl rounded-tr-xl rounded-br-xl flex-shrink bg-gray-200 p-2 border" style="max-width:70%;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos optio architecto deserunt.</div>
                </div>
              </div>
              <div :key="i" class="flex flex-col">
                <div class="flex mb-2 justify-end">
                  <div class="rounded-tl-xl rounded-tr-xl rounded-bl-xl flex-shrink bg-white p-2 border" style="max-width:70%;">Lorem, ipsum dolor sit.</div>
                </div>
              </div>
            </template>
          </div>
        </div>
        <div class="p-3 bg-gray-200 border-t border-gray-300">
          <textarea placeholder="Escreva uma mensagem..." rows="1" autogrow class="bg-white w-full rounded-xl px-4 py-2 focus:outline-none"></textarea>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {}
</script>
<style>
html,
body,
#__nuxt,
#__layout{
  height: 100%;
}
.chat .chats{
  width: 450px;
}
</style>
