<template>
  <div class="min-h-screen py-4">
    <div class="container mx-auto">
      <div class="flex">
        <div class="w-80 pr-6">
          <div class="flex items-center">
            <div class="relative rounded-xl w-20 h-20 bg-white p-1 border">
              <img class="rounded-xl" src="~/assets/imgs/users/me.webp" alt="">
              <div class="absolute bottom-0 right-0 mdi mdi-camera-outline text-base w-6 h-6 flex items-center justify-center border rounded-xl bg-white cursor-pointer hover:bg-gray-100"></div>
            </div>
            <div class="pl-4 font-bold">Sir Richard Smith</div>
          </div>
          <div class="mt-4">
            <router-link to="/chat" class="block rounded-xl bg-gray-200 py-2 px-4 text-primary font-semibold my-2 cursor-pointer hover:bg-gray-300">Mensagens</router-link>
            <div class="rounded-xl bg-gray-200 py-2 px-4 text-primary font-semibold my-2 cursor-pointer hover:bg-gray-300">Favoritos</div>
            <div class="rounded-xl bg-gray-200 py-2 px-4 text-primary font-semibold my-2 cursor-pointer hover:bg-gray-300">Me favoritaram</div>
          </div>
        </div>
        <div class="flex-1">
          <div class="flex my-2 items-center justify-between">
            <div class="text-2xl font-semibold">Iniciar uma conversa</div>
            <div class="text-right">
              <button class="rounded-xl h-10 bg-gray-200 px-3 flex items-center hover:bg-gray-300">
                Buscar
                <span class="mdi mdi-account-search-outline text-2xl ml-3"></span>
              </button>
            </div>
          </div>
          <div class="flex flex-wrap">
            <template v-for="i in 16">
              <UserCard :key="i" :index="i" />
            </template>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {}
</script>
